/ProjectReport/nbproject/private/
/ProjectReport/build/
/ProjectReport/dist/
/ReportingEbusProject/build/
/ReportingEbusProject/dist/
/ReportingEbusProject/nbproject/private/
/ReportEbus/build/
/ReportEbus/dist/
/ReportEbus/nbproject/private/